script(src='/js/wysihtml5-0.3.0.js')
script(src='/js/jquery-1.9.1.js')
script(src='/js/bootstrap.min.js')
script(src='/js/jquery.form.js')
script(src='/js/jquery.validate.min.js')
script(src='/js/bootstrap-wysihtml5.js')
script(src='/js/bootstrap-fileupload.min.js')
script(src='/js/jquery.tagsinput.min.js')
script(src='/js/jquery.imgareaselect.pack.js')
script(src='/js/jquery.fineuploader-3.5.0.min.js')
script(src='/js/app.js')