head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='viewport', content='width=device-width,initial-scale=1')

  title=title
  meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
  meta(name="keywords", content="node.js, express, mongoose, mongodb, stylus demo")
  meta(name="description", content="A demo app illustrating the usage of express framework, mongoose orm, mongodb and stylus in node.js. The also illustrates how to properly organize your application")

  link(href='/favicon.ico', rel='shortcut icon', type='image/x-icon')
  //Application styles
  link(rel='stylesheet', href='/css/bootstrap-wysihtml5.css')
  link(rel='stylesheet', href='/css/bootstrap.min.css')
  link(rel='stylesheet', href='/css/bootstrap-responsive.css')
  link(rel="stylesheet", href="/css/bootstrap-fileupload.min.css")
  link(rel="stylesheet", href="/css/base.css")