head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='viewport', content='width=device-width,initial-scale=1.0')

  title=title
  meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
  meta(name="keywords", content="iphone, backgrounds, wallpapers, iphone backgrounds, iphone wallpapers, ipod, ipod touch, touch")
  meta(name="description", content="Your number one source for iphone / ipod touch wallpapers, iphone / ipod touch backgrounds, and iphone / ipod touch images. Updated daily.")
  
  link(href='/favicon.ico', rel='shortcut icon', type='image/x-icon')
  //Application styles
  link(rel='stylesheet', href='/css/bootstrap-wysihtml5.css')
  link(rel='stylesheet', href='/css/bootstrap.min.css')
  link(rel="stylesheet", href="/css/bootstrap-fileupload.min.css")
  link(rel="stylesheet", href="/css/base.css")
  link(rel='stylesheet', href='/css/bootstrap-responsive.css')
  link(rel='stylesheet', href='/css/imgareaselect-default.css')
  link(rel='stylesheet', href='/css/fineuploader-3.5.0.css')