form.navbar-form.form-search.pull-right(action="/search",method="post",accept-charset="UTF-8")
   .input-append
     input.span2.search-query(type="text",name="q")
     button.btn(type="submit") Search
     