extends ../layout

block sidebar
	include ../includes/sidebar

block main
	.single-stuff.clearfix
		.span4.single-stuff-image
			img.wp(class="alignnone",width="320",height="480",alt="#{stuff.title}",src="/srcfile/#{stuff.asset_id}")
		.span4.single-stuff-info
			h3= stuff.title
			if (stuff.type_id == 1)
				p iphone wallpapers
			.stuff-tags
				each tag in stuff.tags.split(',')
					a(rel="tag",href="/tag/#{tag}")= tag