!!! 5
html
	include ./includes/head
	body
		include ./includes/header
		.container
			.ajax-message
				block ajaxmsg
			.row
				.span3.sidebar.bs-docs-sidebar
					block sidebar
				.span9.main-content
					block main
			.push
		include ./includes/footer
		include ./includes/foot
