!!! 5
html
	include ./includes/head
	body
		include ./includes/header
		.container
			.ajax-message
				block ajaxmsg
			block main
			.push
		include ./includes/footer
		include ./includes/foot
		block ajax_privatejs
			