extends ../wptools

block main
	.single-stuff.wp-show.clearfix
		.span4.single-stuff-image
			img.wp(class="alignnone",src="#{wp_file}")
		.span4.single-stuff-info
			h3 Download the wallpaper:
			p Right click on the picture, select 'Save Picture As ...'
